@using OnlineStore.Models
@model IEnumerable<SubCategoryModel>

<table class="table">
    <tr class="firstRow">
        <th>ID</th>
        <th>Name</th>
        <th>View</th>
    </tr>
    @foreach(var subCategory in Model)
    {
        <tr>
            <td>@subCategory.SubCategoryId</td>
            <td>@subCategory.SubCategoryName</td>
            <td><a asp-area="" asp-contoller="SubCategories" asp-controller="SubCategories" asp-action="FindBySubCategory" asp-route-specific="@subCategory.SubCategoryId">View</a></td>
        </tr>
    }
    <tr>
        <td><a class="btn btn-dark btn-sm" asp-area="" asp-controller="SubCategories" asp-action="CreateSubCategory">Add</a></td>
    </tr>
</table>