@using OnlineStore.Models
@model IEnumerable<CategoryModel>

<table class="table">
    <tr class="firstRow">
        <th>ID</th>
        <th>Name</th>
        <th>View SubCategories</th>
    </tr>
    @foreach(var category in Model)
    {
        <tr>
            <td>@category.CategoryId</td>
            <td>@category.CategoryName</td>
            <td><a asp-area="" asp-contoller="Categories" asp-controller="Categories" asp-action="FindByCategory" asp-route-specific="@category.CategoryId">View</a></td>
        </tr>
    }
    <tr>
        <td><a class="btn btn-dark btn-sm" asp-area="" asp-controller="Categories" asp-action="CreateCategory">Add</a></td>
    </tr>
</table>