@using OnlineStore.Models
@model CategoryModel

<div><h1>@Model.CategoryName</h1></div>
<table class="table">
    <tr class="firstRow">
        <th>Name</th>
        <th>View Subcategory products</th>
    </tr>
    @foreach(var subCategory in Model.SubCategories)
    {
        <tr>
            <td>@subCategory.SubCategoryName</td>
            <td><a asp-area="" asp-contoller="SubCategories" asp-controller="SubCategories" asp-action="FindBySubCategory" asp-route-specific="@subCategory.SubCategoryId">View</a></td>
        </tr>
    }
    <tr>
        <td><button class="btn btn-dark"><a class="nav-link text-white" asp-area="" asp-controller="Categories" asp-action="Categories">Back</a></button></td>
    </tr>

</table>