@model ProductsModel

<table class="table">
    <tr class="firstRow">
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Location</th>
    </tr>
    <tr>
        <td>@Model.Id</td>
        <td>@Model.Name</td>
        <td>@Model.Description</td>
        <td>@Model.Price</td>
    </tr>
    <tr>
        <td><button><a class="nav-link text-dark" asp-area="" asp-controller="Categories" asp-action="Categories">Back</a></button></td>
    </tr>
</table>