@using Homework1.Models
@model List<ProductsModel>

<table class="table">
    <tr class="firstRow">
        <th>ID</th>
        <th>Name</th>
        <th>View</th>
    </tr>

    @foreach(var products in Model.OrderByDescending(product => product.Price))
    {
        <tr>
            <td>@products.Name</td>
            <td>@products.Description</td>
            <td>@products.Price</td>
            <td><a asp-area="" asp-contoller="Products" asp-controller="Products" asp-action="FindById" asp-route-specific="@products.Id">View</a></td>
        </tr>
    }
</table>